.weekdays{
    float: right;
    margin-top: -22px;
}
.f-r{
    float: right;
}
.day-off{
    float: right;
    margin-top: -22px;
}
/* .sub-content{
    padding-bottom: 5px;
    border-bottom: 1px solid;
} */