/* Căn chỉnh cho mỗi chức năng */
.function-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0px;
  padding:10px  ;
  background-color: #ffffff;
}


/* Căn chỉnh phần icon và tiêu đề nằm bên trái */
.function-left {
  display: flex;
  align-items: center;
}
.function-title {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

/* Căn chỉnh phần mô tả và icon-right nằm bên phải */
.function-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.function-description {
  font-size: 12px;
  color: #666;
}

/* Icon ở bên phải (icon-right) */
.icon-right {
  font-size: 20px;
  color: #999;
}
.icon-function-item{
    font-size: 23px;
    color: #ee4609;
}
.icon-list-func-coin{
    font-size: 23px;
    color: #ffb01e;
}
