/* setting zalo  */
body{
  background-color: #ffffff;
}
.zaui-btn-tertiary.zaui-btn-neutral{
  color: #ffffff !important;
}
.zaui-sheet-content.zaui-sheet-content-hug-content{
  height: 387px;
  overflow-y: auto;
}
.zaui-input{
  height: 33px;
  border-radius: 8px;
}
.zaui-input-affix-wrapper:hover, .zaui-input-affix-wrapper:focus, .zaui-input-affix-wrapper:focus-visible {
  border-color: unset;
}

.size-list {
  max-height: 300px; /* Hoặc chiều cao bạn muốn */
  overflow-y: auto; /* Cho phép cuộn dọc */
}

/* end setting  */
/* home  */
.home{
  background-color: #ffffff;
  margin-bottom: 30px;
}
.icon-active{
  color: #0f0f0f !important;
}
.check-wind{
  color: #148ed5 !important;
  font-size: 18px !important;
}
.img-ai{
  width: 50px;
  border-radius: 50px;
}
/* end home  */

/* user page  */
body {
  padding-top: calc(var(--zaui-safe-area-inset-top, 0px) + 44px);
}
.page-custom-header {
  background-color: black !important;
  color: white;
}
.custom-header-account {
  height: calc(var(--zaui-safe-area-inset-top, 0px) + 56px); /* Thay 56px bằng giá trị chiều cao mong muốn */
  margin-bottom: 0;
  flex: none;
}
.image-account{
  width: 50px;
    border-radius: 30px;
}
/* end user page */