.header-student{
    display: flex;
    align-items: end;
    padding: 51px 10px 10px 10px;
}
.title-header-student{
    font-weight: 500;
    color: #8861bb;
}
.item-user {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 5px;
    color: black;
    transition: 0.5s;
    border-left: 5px solid #30c840;
    margin: 0px 10px 10px 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Initial box-shadow */
    padding: 14px;
    margin-bottom: 10px !important;
}
.title-login {
   margin-top: 6px !important;
   font-weight: 500;
   color: #30c840;
}
.icon-student-item{
    color: #30c840;
    line-height: 55px;
    font-size: 45px;
}
.icon-header-student{
    width: 39px;
    height: 39px;
}
.icon-student{
    width: 60px;
    height: auto;
}
.icon-student-check{
    font-size: 22px;
    margin-right: 5px;
    color: #30c840;
}