/* css home  */
/* end css home  */
/* css not evaluate  */
.item-not-evaluate{
    border-bottom: 5px solid #dcdcdc;
}
.product-not-evaluate{
    background-color: white !important;
    margin: 5px 10px;

}
.header-not-evaluate{
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
}
.icon-not-evaluate{
    font-size: 17px;
    color: #524f4f;
}
.title-not-evaluate{
    font-size: 11px;
    color: #524f4f;
}
.body-not-evaluate{
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.img-not-evaluate{
    margin-right: 5px;
    width: 70px;
    height: 70px;
}
.description-not-evaluate{
    font-size: 12px;
    font-weight: 400;
}
.footer-not-evaluate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.note-not-evaluate{
    font-size: 12px;
    font-weight: 400;
}
.btn-evaluate{
    display: flex;
    align-items: center;
    background: #f56d0c;
    padding: 5px;
}
.name-btn-evaluate{
    margin-right: 2px;
}
.point-evaluate{
    margin-left: 2px;
}
.name-btn-evaluate,
.point-evaluate{
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
}
.img-coin{
    width: 22px;
}
/* end css not evualuate  */