.by-product {
    padding: 10px;
    background: #ffffff;
    
  }
  
  .category-by {
    background: #fff !important;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  .slider-by {
    display: flex;
  }
  
  .tabs-wrapper {
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .horizontal-tabs .zmp-tab {
    display: inline-block;
    padding: 10px;
  }
  
  .tabs-wrapper::-webkit-scrollbar {
    height: 8px;
  }
  
  .tabs-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  .tabs-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.zaui-tabs-tabbar-item.zaui-tabs-tabbar-item-active{
    color: #ffa53d !important;
}
.zaui-tabs-tabbar-active-line{
    background-color: #ffa53d !important;
}
.tabs-wrapper{
  white-space: unset !important;
}
