.date-left{
    font-weight: 500;
    color: #333;
}
.date-right{
    font-weight: 500;
    color: #333;
}
.header-date-notify{
    display: flex;
    align-items: center;
    margin: 10px;
    color: #8861bb;
    font-weight: 500;
}
.lable-date-left{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #8861bb;
}
.icon-date-left{
    margin-right: 5px;
    color: #8861bb;
}
.lable-date-right{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #8861bb;
}
.icon-date-right{
    margin-right: 5px;
    color: #8861bb;
}