.title-update-favorites{
    padding: 15px 0px 20px 0px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    position: relative;
}

.title-update-favorites::before{
    content: "";
    position: absolute;
    left:   0px;
    right: 0px;
    top: 74px; 
    height: 1px;
    background-color: #ccc;
}