.header-home{
  background: linear-gradient(to bottom, rgb(255 172 27), rgb(238 178 72));
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Initial box-shadow */
  /* border-bottom: 1px solid #c6c5c5; */
}

/* category product */
.category-product {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; /* Khoảng cách giữa các phần tử */
}

.text-gray {
  color: gray; 
}

.grid-cols-auto {
  display: grid;
}
.btn-cart{
  background-color: red;
  color: #ffffff;
}
.icon-active{
  color: #00b815 !important;
}

/* slider */