.shipping-info {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Initial box-shadow */
}

.cart-address {
  padding: 0;
}

.list-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.list-item-icon {
  margin-right: 12px;
}

.item-details {
  flex: 1;
}

.title-address-cart {
  font-size: 14px;
  font-weight: 500;
  color: #f52424;
}
.title-date-cart {
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.item-description {
  font-size: 11px;
  color: gray;
  margin-top: 2px;
}

.list-item-chevron {
  margin-left: 12px;
}
.text-cart{
  padding: 10px;
  color: #00b815;
  font-weight: 500;
}
