.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/images/banner/ileader-6.png'); /* Replace with the actual image path */
  background-size: cover;
  background-position: left;
}

.login-container {
  width: 90%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-field {
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
  color: white;
  background-color: #aa50ca;
}
.login-button:hover{
  background-color: #eaafff;
  transition: 0.5s;
}
.error-text{
  color: rgb(247, 10, 10);
}