.page-tuitionfees{
    background-color: white;
    height: 100%;
}
.header-form-date{
    display: flex;
    align-items: center;
    padding: 10px 10px 5px 10px;
}
.custom-table th{
    background-color: #8861bb;
    color: white;
}

.title-header-form{
    font-size: 14px;
    font-weight: 500;
    color: #8861bb;
}
.page-tuitionfees .form-date {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 10px 0;
    margin: 0px 10px;
    border-radius:8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Initial box-shadow */  
  }
.header-tuitionfees{
  margin-bottom: 60px;
}

  
