:not(input):not(textarea) {
  -webkit-user-select: none;
  user-select: none;
}

.toast-container {
  > div > div {
    padding: 12px 16px;
    background-color: #212121;
    color: #FFFFFFF2;
    border-radius: 8px;
  }
}

.zaui-sheet{
  .zaui-sheet-content {
    min-height: unset;
  }
}